---
const title = "Mi proyecto en Astro";

const hobbies = [
	"Leer",
	"Programar",
	"Ver series",
	"Jugar videojuegos",
	"Escuchar música",
];
---

<h1 class="title">{ title }</h1>

{
	hobbies.map((hobby) => {
		return <p>{ hobby }</p>;
	})
}

<style>

	body {
		background-color: #000;
		color: aliceblue;
	}

	.title {
		color: skyblue;
	}
</style>