---
import Card from '../components/Card.astro';
---

<h1>Mis servicios</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque, impedit dolore aut cupiditate aperiam debitis quos velit beatae iste!</p>

<Card title="Hola mundo" content="Esta es una prueba"/>
<Card title="HOLA" content="Servicios nuevos"/>
<Card title="Este" content="Servicios nuevos de HTML"/>
<Card />

