---

interface Props {
  title: string,
  content: string
}

const { title, content } = Astro.props
---

<div class="card">
  <h1>{title}</h1>
  <p>{content}</p>
</div>

<style>
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
  }
</style>
